<%= form_for(@pad) do |f| %>
  <% if @pad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pad.errors.count, "error") %> prohibited this pad from being saved:</h2>

      <ul>
      <% @pad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :revision %><br>
    <%= f.text_field :revision %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :is_autosaved %><br>
    <%= f.check_box :is_autosaved %>
  </div>
  <div class="field">
    <%= f.label :is_deleted %><br>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
