<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex,nofollow,noarchive">
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'pictonic' %>
  <link href="/images/favicon.png" rel="shortcut icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
  <%= javascript_include_tag '/js/jquery-2.0.3.min.js' %>
  <%= javascript_include_tag 'script' %>
  <title>OnePad</title>
</head>
<body>
<header>
  <h1><%= link_to 'OnePad', root_path %><sup>2</sup></h1>
</header>
<div id="notification"></div>
<div id="body">
  <article id="content-article" class="group-view"><%= @pad.key == 'create' ? @pad.html.html_safe : '' %></article>
  <form id="content-form" class="group-edit">
    <textarea id="content-textarea"><%= @pad.key == 'create' ? @pad.content.html_safe : '' %></textarea><input type="hidden" name="key" id="key" value="<%= @pad.key %>">
  </form>
</div>
<footer>
  <div id="count"></div>
  <button id="edit" class="group-view"><span class="icon-edit"></span></button>
  <button id="history" style="display: none;"><span class="icon-history"></span></button>
  <button id="save" class="group-edit"><span class="icon-save"></span></button>
  <button id="ok" class="group-edit"><span class="icon-ok"></span></button>
</footer>
</body>
</html>
